.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  position: relative;
}

.inputLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.inputField {
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 0 40px 0 12px;
  border: 1px solid #cccccc;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

.labelInvalid {
  color: red;
}

.inputInvalid {
  border: 1px solid red;
}

.invalidMessage {
  color: red;
  position: absolute;
  top: 70px;
  margin: 0;
  font-size: 14px;
}

.magnifyingGlassIcon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  padding: 2px 10px;
  border-left: 1px solid #d3d3d3;
  bottom: 9px;
  right: 2px;
}
